<hr/>
<% @files.each do |files| %>
  <% if !files[:files].nil? %>
    <ul>
      <li><%=Time.parse(files[:date]).strftime("%b %Y")%></li>

      <ul>

        <% files[:files].each do |file| %>
          <li><%= link_to file, :controller=>'/out_of_cycle/reports/final_ooc_reports', :action=>:get_file,:file=>"#{files[:date]}/#{file}" %>
          </li>

        <%end%>
      </ul>

    </ul>
  <%end%>
<%end%>

<% if @files.size==0 %>
  <p>No Reports for this Account and Year Month</p>
<%end%>